In [1]:
import pandas as pd
import pulp

In [5]:
factories = pd.DataFrame.from_csv('factory_variables.csv', index_col=['Month', 'Factory'])
#index_col (columns to be indexed)
factories

               Max_Capacity  Min_Capacity  Variable_Costs  Fixed_Costs
Month Factory
1     A              100000         20000              10          500
      B               50000         20000               5          600
2     A              110000         20000              11          500
      B               55000         20000               4          600
3     A              120000         20000              12          500
      B               60000         20000               3          600
4     A              145000         20000               9          500
      B              100000         20000               5          600
5     A              160000         20000               8          500
      B                   0             0               0            0
6     A              140000         20000               8          500
      B               70000         20000               6          600
7     A              155000         20000               5          500
      B               60000         20000               4          600
8     A              200000         20000               7          500
      B              100000         20000               6          600
9     A              210000         20000               9          500
      B              100000         20000               8          600
10    A              197000         20000              10          500
      B              100000         20000              11          600
11    A               80000         20000               8          500
      B              120000         20000              10          600
12    A              150000         20000               8          500
      B              150000         20000              12          600

In [7]:
demand = pd.DataFrame.from_csv('monthly_demand.csv', index_col=['Month'])
demand

       Demand
Month
1      120000
2      100000
3      130000
4      130000
5      140000
6      130000
7      150000
8      170000
9      200000
10     190000
11     140000
12     100000